<div class="container-fluid mx-auto px-4 md:px-20 lg:px-32 p-4 bg-white dark:bg-gray-900">
    <h1 class="text-center text-3xl md:text-5xl font-bold mb-6  dark:text-white">Our Collaboration</h1>    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center  dark:text-white">This is the text for the first column, placed next to the image. Add any content you like here.</p>
      </div>
      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center  dark:text-white">This is the text for the second column, placed next to the image. Add any content you like here.</p>
      </div>

      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the first column, placed next to the image. Add any content you like here.</p>
      </div>
      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the second column, placed next to the image. Add any content you like here.</p>
      </div>

      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the first column, placed next to the image. Add any content you like here.</p>
      </div>
      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the second column, placed next to the image. Add any content you like here.</p>
      </div>

      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the first column, placed next to the image. Add any content you like here.</p>
      </div>
      <div class="flex flex-col md:flex-row items-center p-5">
        <img src="assets/template-img/ses.png" alt="Placeholder Image" class="w-full md:w-1/4 h-auto md:mr-4">
        <p class="text-center dark:text-white">This is the text for the second column, placed next to the image. Add any content you like here.</p>
      </div>
    </div>
  </div>
  