
<!--Who We are-->
<section class="flex justify-center py-8 px-4">
    <div
      class="flex flex-col w-full max-w-5xl items-center bg-white border border-gray-200 rounded-lg shadow-2xl md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 sm:p-4"
    >
      <!-- Image -->
      <img
        class="w-full md:w-1/2 h-64 md:h-auto md:max-h-full rounded-t-lg md:rounded-none md:rounded-s-lg object-contain"
        src="../../../assets/images/avira_world_logo.jpg"
        alt="Avira World Logo"
      />
      <!-- Text Content -->
      <div class="flex flex-col justify-start p-6 md:w-1/2 leading-normal">
        <h5
          class="mb-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Who We Are
        </h5>
        <p class="mb-3 font-normal text-justify text-gray-700 dark:text-gray-400">
          Welcome to the realm of AviraTech, where technology meets magic! We are
          the masterminds behind cutting-edge Web Design, Mobile App Development,
          and Cyber Security solutions. Our team of tech wizards specializes in
          crafting digital experiences that defy the ordinary. With a sprinkle of
          creativity and a dash of innovation, we bring your wildest tech dreams
          to life! Join us on a journey to revolutionize the digital landscape and
          witness the power of technology like never before.
        </p>
      </div>
    </div>
  </section>
  